{
  "JWT": {
    "SecretKey": "your secret key here"
  },
  "PasswordEmail": "paasword",
  "EmailFrom": "email",
  "FrontEndDomainLogin": "",
  "FailedVerirfingEmail": "",
  "PageResetPassword": ""
  "ConnectionStrings": {"myconn": "" }

}